@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    font-family: "Roboto Mono", monospace;;
    background-color: white;
    font-size: 18px;
    margin-left: 33.6rem;
}
section{
    box-sizing: border-box;
    border-radius: 35px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 350px;border-color: black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}

#button1 {
    background-color: white;
    width: 100px;
    height: 50px;
    border-radius: 40px;
    font-size: 20px;
    font-family: "Knewave", system-ui;
}

#button2 {
    background-color: white;
    width: 120px;
    height: 70px;
    border-radius: 40px;
    font-size: 20px;
    font-family: "Knewave", system-ui;
}

input[type="text"],
input[type="number"],
input[type="password"] {
  width: 70%;
  padding: 5px;
  border: 2px solid rgb(0, 0, 0);
  background-color: white;
  font-size: 16px;
  outline: none;
  margin-bottom: 10px;
}